<!doctype html>
<html>
<head>
	<title>My Pantry</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<script src="http://code.responsivevoice.org/responsivevoice.js"></script>
	script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
	script.
	
		setTimeout(responsiveVoice.speak("Welcome back #{user.local.username}. Let's find you something to make"), 3000);
		console.log("#{myPantry}");

			$("#pantryForm").on("submit", function(event) {
				console.log("New Pantry Form submitted");
				$.ajax({
					method: "POST",
					url: "/pantry",
					data: {
					user: data.user,
						item: $("#item").val(),
						quantity: $("#quantity").val()
					}// end data{}
				})// end ajax
				//- // With that done
				.done(function(data) {
				// Log the response
					console.log(data);
				});
				//- // Also, remove the values entered in the input and textarea for note entry
				$("#item").val("");
				$("#quantity").val("");
			});

</head>
<body>

<div class="container">

	<div class="page-header text-center">
		<h1><span class="fa fa-anchor"></span>Welcome back #{user.local.username}</h1>
		<a href="/logout" class="btn btn-default btn-sm">Logout</a>
		<a href="/pantry" class="btn btn-default btn-sm">Veiw My Pantry</a>
	</div>

	<div class="row">

		<div class="col-sm-6">
			<div class="well">
				<h3><span class="fa fa-user"></span> Local</h3>
					<p>
						<strong>ID</strong>: #{user._id} <br>
						<strong>Username</strong>: #{user.local.username} <br>
						<strong>Password</strong>: #{user.local.password} 
					</p>
			</div>
		</div>
	</div>

<div class="row">
	<div class="col-sm-6">
		<div class="well">
		<h3>Add to my Pantry</h3>
		<form id="pantryForm" method="post" action="/pantry">
			<div class="form-group">
				<label>Item</label>
				<input id="item" type="text" class="form-control" name="item">
			</div>
			<div class="form-group">
				<label>Qty</label>
				<input id="quantity" type="text" class="form-control" name="quantity">
			</div>
			<button id="addToPantry" type="submit" class="btn btn-warning btn-lg">Add To My Pantry</button>
		</form>
		</div>
	</div>
</div>

	<div class="row">
		<h1>Pantry</h1>
		#{pantry}
		//- <ul>
		//- each item in pantry
		//- 	li #{pantry.item}
		//- else
		//- 	li There is nothing in your pantry
		//- </ul>
	</div>


</div>

//- script( src='/public/app.js')
//- <script src="./app.js"></script>

</body>
</html>